<a href="https://colab.research.google.com/github/poojasajnani/githubRepo/blob/master/Indian_food_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("/content/indian_food.csv")

In [4]:
data

               name  ...      region
0        Balu shahi  ...        East
1            Boondi  ...        West
2    Gajar ka halwa  ...       North
3            Ghevar  ...        West
4       Gulab jamun  ...        East
..              ...  ...         ...
250       Til Pitha  ...  North East
251         Bebinca  ...        West
252          Shufta  ...       North
253       Mawa Bati  ...     Central
254          Pinaca  ...        West

[255 rows x 9 columns]

In [6]:
data.head()

             name  ... region
0      Balu shahi  ...   East
1          Boondi  ...   West
2  Gajar ka halwa  ...  North
3          Ghevar  ...   West
4     Gulab jamun  ...   East

[5 rows x 9 columns]

In [7]:
data.columns

Index(['name', 'ingredients', 'diet', 'prep_time', 'cook_time',
       'flavor_profile', 'course', 'state', 'region'],
      dtype='object')

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255 entries, 0 to 254
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            255 non-null    object
 1   ingredients     255 non-null    object
 2   diet            255 non-null    object
 3   prep_time       255 non-null    int64
 4   cook_time       255 non-null    int64
 5   flavor_profile  255 non-null    object
 6   course          255 non-null    object
 7   state           255 non-null    object
 8   region          254 non-null    object
dtypes: int64(2), object(7)
memory usage: 18.1+ KB

In [9]:
data.isnull()

      name  ingredients   diet  ...  course  state  region
0    False        False  False  ...   False  False   False
1    False        False  False  ...   False  False   False
2    False        False  False  ...   False  False   False
3    False        False  False  ...   False  False   False
4    False        False  False  ...   False  False   False
..     ...          ...    ...  ...     ...    ...     ...
250  False        False  False  ...   False  False   False
251  False        False  False  ...   False  False   False
252  False        False  False  ...   False  False   False
253  False        False  False  ...   False  False   False
254  False        False  False  ...   False  False   False

[255 rows x 9 columns]

In [10]:
data.isnull().any()

name              False
ingredients       False
diet              False
prep_time         False
cook_time         False
flavor_profile    False
course            False
state             False
region             True
dtype: bool

In [11]:
data.isnull().sum()

name              0
ingredients       0
diet              0
prep_time         0
cook_time         0
flavor_profile    0
course            0
state             0
region            1
dtype: int64

In [12]:
data = data.replace(-1, np.nan)

In [13]:
data.isnull().any()

name              False
ingredients       False
diet              False
prep_time          True
cook_time          True
flavor_profile    False
course            False
state             False
region             True
dtype: bool

In [14]:
data.isnull().sum()

name               0
ingredients        0
diet               0
prep_time         30
cook_time         28
flavor_profile     0
course             0
state              0
region             1
dtype: int64

In [15]:
data = data.replace('-1',np.nan)

In [16]:
data.isnull().sum()

name               0
ingredients        0
diet               0
prep_time         30
cook_time         28
flavor_profile    29
course             0
state             24
region            14
dtype: int64